In [1]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

In [276]:
# First connect with driver.
# Web driver help to connect the chrome to the web page
driver=webdriver.Chrome(r'C:\Users\prks\Downloads\chromedriver.exe')

# Data Analyst Job position

In [277]:
# First get the web page

driver.get('https://www.naukri.com/')

In [278]:
# Enter the data analyst in desgination

desgination=driver.find_element(By.CLASS_NAME,'suggestor-input')

desgination.send_keys('Data Analyst')

In [279]:
# Enter Bangalore in location

Loc=driver.find_element(By.XPATH,'/html/body/div[1]/div[7]/div/div/div[5]/div/div/div/div[1]/div/input')
Loc.send_keys('Bangalore')

In [280]:
 # Click the search button
search=driver.find_element(By.CLASS_NAME,'qsbSubmit')
search.click()

In [281]:
# now create the empty list

amit=[]
sharma=[]
com_name=[]
exe_req=[]

In [282]:
job_tags=driver.find_elements(By.XPATH,'//a[@class="title ellipsis"]')

for i in job_tags[0:10]:
    
    posts=i.text
    amit.append(posts)
amit

['Data Engineer/Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst - Contractual',
 'Data Analyst - Contractual',
 'Data Analyst',
 'Procurement Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst - EdTech']

In [283]:
loc_tag=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft locWdth"]')

for i in loc_tag[0:10]:
    place=i.text
    sharma.append(place)
sharma

['Hybrid - Bangalore/Bengaluru, Kolkata, Hyderabad/Secunderabad, Pune, Chennai, Delhi / NCR, Mumbai (All Areas)',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru']

In [284]:
comp_tag=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in comp_tag[0:10]:
    company=i.text
    com_name.append(company)
com_name

['Tech Mahindra',
 'Ingersoll Rand',
 'Unusual Hire',
 'Search Advisers Services Guj',
 'Search Advisers Services Guj',
 'ANZ',
 'Schneider Electric',
 'ANZ',
 'Clarivate',
 'Talentstack']

In [285]:
expe=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft expwdth"]')
for i in expe[0:10]:
    experience=i.text
    exe_req.append(experience)
exe_req

['6-11 Yrs',
 '3-6 Yrs',
 '1-4 Yrs',
 '2-3 Yrs',
 '2-3 Yrs',
 '5-8 Yrs',
 '2-3 Yrs',
 '5-9 Yrs',
 '2-4 Yrs',
 '2-6 Yrs']

In [286]:
# check the len
print(len(amit),len(sharma),len(com_name),len(exe_req))

10 10 10 10

In [287]:
# Finally make a data frame
Data_analyst=pd.DataFrame({'Position':amit,'Location':sharma,'Company Name':com_name,'Experience Required':exe_req})
Data_analyst

,Position,Location,Company Name,Experience Required
0,Data Engineer/Data Analyst,"Hybrid - Bangalore/Bengaluru, Kolkata, Hyderab...",Tech Mahindra,6-11 Yrs
1,Data Analyst,Bangalore/Bengaluru,Ingersoll Rand,3-6 Yrs
2,Data Analyst,Bangalore/Bengaluru,Unusual Hire,1-4 Yrs
3,Data Analyst - Contractual,Bangalore/Bengaluru,Search Advisers Services Guj,2-3 Yrs
4,Data Analyst - Contractual,Bangalore/Bengaluru,Search Advisers Services Guj,2-3 Yrs
5,Data Analyst,Bangalore/Bengaluru,ANZ,5-8 Yrs
6,Procurement Data Analyst,Bangalore/Bengaluru,Schneider Electric,2-3 Yrs
7,Data Analyst,Bangalore/Bengaluru,ANZ,5-9 Yrs
8,Data Analyst,Bangalore/Bengaluru,Clarivate,2-4 Yrs
9,Data Analyst - EdTech,Bangalore/Bengaluru,Talentstack,2-6 Yrs

# Data Scientist Job Position

In [265]:
# connect the driver

driver=webdriver.Chrome(r'C:\Users\prks\Downloads\chromedriver.exe')

In [266]:
# get the web page
driver.get('https://www.naukri.com/')

In [267]:
# Enter data scientist in desgination
desgination=driver.find_element(By.CLASS_NAME,'suggestor-input')
desgination.send_keys('Data Scientist')

In [268]:
# Enter Bangalore in location
Location=driver.find_element(By.XPATH,'/html/body/div[1]/div[7]/div/div/div[5]/div/div/div/div[1]/div/input')
Location.send_keys('Bangalore')

In [269]:
# click search
search=driver.find_element(By.CLASS_NAME,'qsbSubmit')
search.click()

In [270]:
# Create the empty list
Scientst=[]
City=[]
Name=[]

In [271]:
job_tag=driver.find_elements(By.XPATH,'//a[@class="title ellipsis"]')

for i in job_tag[0:10]:
    title=i.text
    Scientst.append(title)
    
loc_tag=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft locWdth"]')

for i in loc_tag[0:10]:
    loc=i.text
    City.append(loc)

In [272]:
nme=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in nme[0:10]:
    att=i.text
    Name.append(att)

In [273]:
# check the length
print(len(Scientst), len(City), len(Name))

10 10 10

In [274]:
# Make a DataFrame

Naukri=pd.DataFrame({'Position':Scientst,'Location':City,'Company name':Name})
Naukri

,Position,Location,Company name
0,Data Science Professional - IBM SPSS Statistic...,"Bangalore/Bengaluru, Noida, Mumbai, Pune, Chennai",Hexaware Technologies
1,Data Science Specialist,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba...",Accenture
2,Analystics & Modeling Specialist,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba...",Accenture
3,Senior data scientist,"Bangalore/Bengaluru, Mumbai, Pune, Chennai, Gu...",Fractal Analytics
4,Data Scientist_NLP,"Bangalore/Bengaluru, Mumbai, Pune, Chennai, Gu...",Fractal Analytics
5,Data Scientist,"Bangalore/Bengaluru, Mumbai, Pune, Chennai, Gu...",Fractal Analytics
6,Machine Learning (AI) Architect,"Bangalore/Bengaluru, Kolkata, Mumbai, New Delh...",Persistent
7,Manager - Innovations Hub - Machine Learning,"Bangalore/Bengaluru, Mumbai, Hyderabad/Secunde...",PwC
8,Senior Engineer Consultant Data Science,Bangalore/Bengaluru,Verizon
9,Senior Engineer Consultant-Data Science,Bangalore/Bengaluru,Verizon

# Data Scientist Using Filter

In [22]:
driver=webdriver.Chrome(r'C:\Users\prks\Downloads\chromedriver.exe')

In [23]:
driver.get('https://www.naukri.com/')

In [24]:
desgination=driver.find_element(By.CLASS_NAME,'suggestor-input')
desgination.send_keys('Data Scientist')

In [25]:
search=driver.find_element(By.CLASS_NAME,'qsbSubmit')
search.click()

In [26]:
loc=driver.find_element(By.XPATH,'/html/body/div[1]/div[4]/div/div/section[1]/div[2]/div[5]/div[2]/div[2]/label/p/span[1]')
loc.click()

In [27]:
salary=driver.find_element(By.XPATH,'/html/body/div[1]/div[4]/div/div/section[1]/div[2]/div[6]/div[2]/div[2]/label/p/span[1]')
salary.click()

In [28]:
job=[]
loc=[]
com=[]
exp=[]

In [29]:
jobs_tag=driver.find_elements(By.XPATH,'//a[@class="title ellipsis"]')
for i in jobs_tag[0:10]:
    titel=i.text
    job.append(titel)
len(job)

10

In [30]:
locs_tag=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft locWdth"]')
for i in locs_tag[0:10]:
    loc_title=i.text
    loc.append(loc_title)
len(loc)

10

In [31]:
company_tag=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tag[0:10]:
    com_title=i.text
    com.append(com_title)
len(com)

10

In [32]:
expe_tag=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft expwdth"]')
for i in expe_tag[0:10]:
    exp_title=i.text
    exp.append(exp_title)
    
len(exp)

10

In [33]:
# Make a dataframe
Filter=pd.DataFrame({'titel':job,'location':loc,'company':com,'experience':exp})
Filter

,titel,location,company,experience
0,Data Scientist,"Temp. WFH - Kochi/Cochin, Kolkata, Hyderabad/S...",Cognizant,6-10 Yrs
1,Junior Data Scientist,"Kolkata, Mumbai, New Delhi, Hyderabad/Secunder...",Analytos,0-2 Yrs
2,Data Scientist,"Gurgaon/Gurugram, Bangalore/Bengaluru",Blackbuck,3-7 Yrs
3,Data Scientist,"Kolkata, Mumbai, New Delhi, Hyderabad/Secunder...",Tabsquare,1-3 Yrs
4,Data Scientist,"Kolkata, Mumbai, New Delhi, Hyderabad/Secunder...",Analytos,2-4 Yrs
5,Analyst-Data Science,Gurgaon/Gurugram,AMERICAN EXPRESS,0-3 Yrs
6,Analyst-Data Science,Gurgaon/Gurugram,AMERICAN EXPRESS,0-3 Yrs
7,Senior Data Scientist,"Hyderabad/Secunderabad, Chenani, Gurgaon/Gurug...",RecruitEForU,3-8 Yrs
8,Assistant Manager/Senior Manager - Data Scientist,"Gurgaon/Gurugram, Bangalore/Bengaluru",Huquo Consulting Pvt. Ltd,2-7 Yrs
9,ASE/SE/SSE-Data Science,Noida,Bold Technology Systems,2-7 Yrs

# Flipkart Sunglasses

In [56]:
driver=webdriver.Chrome(r'C:\Users\prks\Downloads\chromedriver.exe')

In [57]:
driver.get('https://www.flipkart.com/')

In [58]:
glass=driver.find_element(By.CLASS_NAME,'_3704LK')
glass.send_keys('Sunglasses')

In [59]:
search=driver.find_element(By.CLASS_NAME,'L0Z3Pu')
search.click()

In [60]:
Sunglass=[]

In [61]:
start=0
end=3

for page in range(start,end):
    spects=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
    for i in spects[0:100]:
        Sunglass.append(i.text)
    next_button=driver.find_element(By.CLASS_NAME,'_1LKTO3')
    next_button.click()
    time.sleep(4)

In [62]:
len(Sunglasses)

120

In [63]:
des=[]

In [64]:
start=0
end=3

for page in range(start,end):
    dep=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
    for i in dep[0:100]:
        des.append(i.text)
    nexxt=driver.find_element(By.CLASS_NAME,'_1LKTO3')
    nexxt.click()
    time.sleep(4)

In [65]:
len(des)

120

In [66]:
Range=[]

start=0
end=3

for page in range(start,end):
    pr=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
    for i in pr[0:100]:
        Range.append(i.text)
    cllick=driver.find_element(By.CLASS_NAME,'_1LKTO3')
    cllick.click()
    time.sleep(4)

In [68]:
len(Range)

120

In [69]:
# make a data frame

Flipkart=pd.DataFrame({'Brand':Sunglasses,'Product Des':des,'Price':Range})
Flipkart

             Brand                                        Product Des   Price
0     Singco India  Gradient, UV Protection Wayfarer Sunglasses (F...    ₹129
1           Resist    Gradient, UV Protection Aviator Sunglasses (57)  ₹1,489
2           PIRASO          UV Protection Rectangular Sunglasses (52)    ₹268
3        Elligator  UV Protection, Gradient Rectangular Sunglasses...    ₹149
4         Fastrack  Night Vision, Riding Glasses, Polarized, UV Pr...    ₹519
..             ...                                                ...     ...
115          NuVew  UV Protection Wayfarer, Rectangular Sunglasses...    ₹236
116       Fastrack  UV Protection, Gradient Rectangular, Spectacle...    ₹214
117          NuVew        UV Protection Sports Sunglasses (Free Size)    ₹149
118  VINCENT CHASE  by Lenskart Polarized, UV Protection Aviator S...    ₹749
119  VINCENT CHASE   Polarized, UV Protection Aviator Sunglasses (55)    ₹236

[120 rows x 3 columns]

# Iphone in flipkart

In [79]:
driver=webdriver.Chrome(r'C:\Users\prks\Downloads\chromedriver.exe')

In [80]:
driver.get('https://www.flipkart.com/apple-iphone-11-black-128-gb/p/itm8244e8d955aba?pid=MOBFWQ6BKRYBP5X8&lid=LSTMOBFWQ6BKRYBP5X8IBG6BS&marketplace=FLIPKART&cmpid=content_mobile_19714622341_x_8965229628_gmc_pla&tgi=sem,1,G,11214002,x,,,,,,,c,,,,,,,')

In [81]:
Rating=[]
Rev_Summ=[]
Full_rev=[]

In [82]:
start=0
end=10
for page in range(start,end):
    rat=driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')
    for i in rat[0:100]:
        Rating.append(i.text)
    next_buttton=driver.find_element(By.CLASS_NAME,'_1LKTO3')
    next_buttton.click
    time.sleep(10)

In [83]:
len(Rating)

100

In [85]:
start=0
end=10
for page in range(start,end):
    summery=driver.find_elements(By.XPATH,'//p[@class="_2-N8zT"]')
    for i in summery[0:100]:
        Rev_Summ.append(i.text)
    next_cllick=driver.find_element(By.CLASS_NAME,'_1LKTO3')
    next_cllick.click()
    time.sleep(10)

In [86]:
len(Rev_Summ)

100

In [87]:
start=0
end=10
for page in range(start,end):
    full=driver.find_elements(By.XPATH,'//div[@class="t-ZTKy"]')
    for i in full[0:100]:
        Full_rev.append(i.text)
    neext_Button=driver.find_element(By.CLASS_NAME,'_1LKTO3')
    neext_Button.click
    time.sleep(10)

In [88]:
len(Full_rev)

100

In [89]:
# make a dataframe

Iphone=pd.DataFrame({'Rating':Rating,'Review Summery':Rev_Summ,'Full Review':Full_rev})
Iphone

,Rating,Review Summery,Full Review
0,5,Simply awesome,This is my first iOS phone. I am very happy wi...
1,5,Perfect product!,Best and amazing product.....phone looks so pr...
2,5,Best in the market!,"i11 is worthy to buy, too much happy with the ..."
3,4,Value-for-money,It’s a must buy who is looking for an upgrade ...
4,5,Highly recommended,So far it’s been an AMAZING experience coming ...
...,...,...,...
95,5,Perfect product!,Value for money❤️❤️\nIts awesome mobile phone ...
96,4,Highly recommended,iphone 11 is a very good phone to buy only if ...
97,5,Value-for-money,Just got this iphone 11\nAnd it is most powerf...
98,5,Highly recommended,"Amazing camera quality as expected, battery al..."
99,5,Perfect product!,It is just awesome mobile for this price from ...

# Flipkart Sneakers

In [299]:
driver=webdriver.Chrome(r'C:\Users\prks\Downloads\chromedriver.exe')

In [300]:
driver.get('https://www.flipkart.com/')

In [301]:
sneakers=driver.find_element(By.CLASS_NAME,'_3704LK')
sneakers.send_keys('Sneakers')

In [303]:
search=driver.find_element(By.CLASS_NAME,'L0Z3Pu')
search.click()

In [304]:
Bran=[]

In [305]:
start=0
end=3

for page in range(start,end):
    brd=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
    for i in brd[0:100]:
        Bran.append(i.text)
    Next_button=driver.find_element(By.CLASS_NAME,'_1LKTO3')
    Next_button.click()
    time.sleep(3)

In [306]:
len(Bran)

120

In [317]:
description=[]

In [318]:
start=0
end=3

for page in range(start,end):
    pro_des=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
    for i in pro_des[0:100]:
        description.append(i.text)
    nuxt=driver.find_element(By.CLASS_NAME,'_1LKTO3')
    nuxt.click()
    time.sleep(3)

In [319]:
len(dess)

118

In [320]:
price=[]

In [321]:
start=0
end=3
for page in range(start,end):
    pur=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
    for i in pur[0:100]:
        price.append(i.text)
    nextx_butt=driver.find_element(By.CLASS_NAME,'_1LKTO3')
    nextx_butt.click()
    time.sleep(3)

In [322]:
len(pr)

160

In [ ]:
# Sneakers brand description price length is not matching.

# Amazon Laptop

In [177]:
driver=webdriver.Chrome(r'C:\Users\prks\Downloads\chromedriver.exe')

In [178]:
driver.get('https://www.amazon.in/')

In [179]:
laptop=driver.find_element(By.XPATH,'/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input')
laptop.send_keys('Laptop')

In [181]:
search=driver.find_element(By.XPATH,'/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[3]/div/span/input')
search.click()

In [182]:
cpu_type=driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/div/div/div[6]/ul[7]/li[10]/span/a/span')
cpu_type.click()

In [183]:
tital=[]
Rat=[]

In [184]:
title_tag=driver.find_elements(By.XPATH,'//div[@class="a-section a-spacing-none puis-padding-right-small s-title-instructions-style"]')
for i in title_tag[0:10]:
    mod=i.text
    tital.append(mod)

In [185]:
len(tital)

10

In [186]:
rating_tag=driver.find_elements(By.XPATH,'//span[@class="a-size-base"]')
for i in rating_tag[0:10]:
    rats=i.text
    Rat.append(rats)

In [187]:
len(Rat)

10

In [188]:
Price=[]

In [189]:
par=driver.find_elements(By.XPATH,'//span[@class="a-price-whole"]')
for i in par[0:10]:
    tit=i.text
    Price.append(tit)

In [190]:
len(Price)

10

In [191]:
# make a dataframe

Laptop=pd.DataFrame({'Title':tital,'Ratings':Rat,'Price':Price})
Laptop

                                               Title Ratings     Price
0  Samsung Galaxy Book2 (NP750) Intel 12th Gen co...     4.0    79,990
1  (Renewed) HP ELITEBOOK 840 G5 (Core i7 8th GEN...     4.3    31,490
2  Lenovo IdeaPad Slim 5 Intel Core i7 12th Gen 1...     4.1    82,990
3  LG Gram16 Intel EVO-[12th Gen Core i7/Win11/16...     4.3    89,990
4  Fujitsu UH-X 11th Gen Intel Core i7 13.3" FHD ...     2.0    71,991
5  (Renewed) HP ELITEBOOK 840 G5 (Core i7 8th GEN...     4.4    33,999
6  ASUS TUF Gaming F15 (2022), 15.6"(39.62 cms) F...     4.0    94,990
7  ASUS Vivobook S15 OLED 2022, 15.6" 39.62 cms F...     4.1    84,990
8  ASUS TUF Gaming F15 (2022), 15.6" (39.62 cms) ...     4.5    94,990
9  ASUS Zenbook Pro 14 Duo OLED (2022) Dual Scree...     3.6  1,39,990

# 1000 quots of all time

In [254]:
driver=webdriver.Chrome(r'C:\Users\prks\Downloads\chromedriver.exe')

In [255]:
driver.get('https://www.azquotes.com/')

In [256]:
top_quots=driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/div[1]/div/div[3]/ul/li[5]/a')
top_quots.click()

In [257]:
Quote=[]
Author=[]
Type=[]

In [258]:
start=0
end=10

for page in range(start,end):
    qute=driver.find_elements(By.XPATH,'//a[@class="title"]')
    for i in qute[0:1000]:
        Quote.append(i.text)
    Nuxt_button=driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div/div/div/div[1]/div/div[4]/li[12]/a')
    Nuxt_button.click()
    time.sleep(10)

In [259]:
len(Quote)

1000

In [260]:
start=0
end=10

for page in range(start,end):
    att=driver.find_elements(By.XPATH,'//div[@class="author"]')
    for i in att[0:100]:
        Author.append(i.text)
    Nxt=driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div/div/div/div[1]/div/div[4]/li[12]/a')
    Nxt.click()
    time.sleep(10)

In [261]:
len(Author)

1000

In [262]:
start=0
end=10
for page in range(start,end):
    ty=driver.find_elements(By.XPATH,'//div[@class="tags"]')
    for i in ty[0:1000]:
        Type.append(i.text)
    nexttt=driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div/div/div/div[1]/div/div[4]/li[12]')
    nexttt.click()
    time.sleep(10)

In [263]:
len(Type)

1000

In [264]:
# make a dataframe

Qutotsss=pd.DataFrame({'Quote':Quote,'Author':Author,'Type of quotes':Type})
Qutotsss

,Quote,Author,Type of quotes
0,The essence of strategy is choosing what not t...,Michael Porter,"Inspirational, Life, Success"
1,One cannot and must not try to erase the past ...,Golda Meir,"Peace, War, Government"
2,Patriotism means to stand by the country. It d...,Theodore Roosevelt,"Life, Strength, Courage"
3,Death is something inevitable. When a man has ...,Nelson Mandela,"Positive, Family, Trust"
4,You have to love a nation that celebrates its ...,Erma Bombeck,"Inspirational, Motivational, Teacher"
...,...,...,...
995,Regret for the things we did can be tempered b...,Sydney J. Harris,"Love, Inspirational, Motivational"
996,America... just a nation of two hundred millio...,Hunter S. Thompson,"Gun, Two, Qualms About"
997,For every disciplined effort there is a multip...,Jim Rohn,"Inspirational, Greatness, Best Effort"
998,"The spiritual journey is individual, highly pe...",Ram Dass,"Spiritual, Truth, Yoga"
999,The mind is not a vessel to be filled but a fi...,Plutarch,"Inspirational, Leadership, Education"

# respected former Prime Ministers of India

In [238]:
driver=webdriver.Chrome(r'C:\Users\prks\Downloads\chromedriver.exe')

In [239]:
driver.get('https://www.jagranjosh.com/')

In [240]:
gk=driver.find_element(By.XPATH,'/html/body/div/div[1]/div/div[1]/div/div[5]/div/div[1]/header/div[3]/ul/li[9]/a')
gk.click()

In [241]:
pm=driver.find_element(By.XPATH,'/html/body/div[1]/div/div/div[2]/div/div[10]/div/div/ul/li[2]/a')
pm.click()

In [242]:
Name=[]
Born_Dead=[]
Term=[]
Remark=[]

In [243]:
prime=driver.find_elements(By.XPATH,'//div[@class="table-box"]/table/tbody/tr/td[2]/p')
for i in prime:
    pr=i.text
    Name.append(pr)

In [244]:
len(Name)

18

In [247]:
dad=driver.find_elements(By.XPATH,'//div[@class="table-box"]/table/tbody/tr/td[2]/p')
for i in dad:
    jivan=i.text
    Born_Dead.append(jivan)

In [248]:
len(Born_Dead)

18

In [249]:
life=driver.find_elements(By.XPATH,'//div[@class="table-box"]/table/tbody/tr/td[2]/p')
for i in life:
    trm=i.text
    Term.append(trm)

In [250]:
len(Term)

18

In [251]:
rmk=driver.find_elements(By.XPATH,'//div[@class="table-box"]/table/tbody/tr/td[2]/p')
for i in rmk:
    rghk=i.text
    Remark.append(rghk)

In [252]:
len(Remark)

18

In [253]:
# make a dataframe

Prime_minister=pd.DataFrame({'Name':Name,'Born_Dead':Born_Dead,'Term of office':Term,'Remark':Remark})
Prime_minister

,Name,Born_Dead,Term of office,Remark
0,Jawahar Lal Nehru,Jawahar Lal Nehru,Jawahar Lal Nehru,Jawahar Lal Nehru
1,Gulzarilal Nanda (Acting),Gulzarilal Nanda (Acting),Gulzarilal Nanda (Acting),Gulzarilal Nanda (Acting)
2,Lal Bahadur Shastri,Lal Bahadur Shastri,Lal Bahadur Shastri,Lal Bahadur Shastri
3,Gulzari Lal Nanda (Acting),Gulzari Lal Nanda (Acting),Gulzari Lal Nanda (Acting),Gulzari Lal Nanda (Acting)
4,Indira Gandhi,Indira Gandhi,Indira Gandhi,Indira Gandhi
5,Morarji Desai,Morarji Desai,Morarji Desai,Morarji Desai
6,Charan Singh,Charan Singh,Charan Singh,Charan Singh
7,Indira Gandhi,Indira Gandhi,Indira Gandhi,Indira Gandhi
8,Rajiv Gandhi,Rajiv Gandhi,Rajiv Gandhi,Rajiv Gandhi
9,V. P. Singh,V. P. Singh,V. P. Singh,V. P. Singh
10,Chandra Shekhar,Chandra Shekhar,Chandra Shekhar,Chandra Shekhar
11,P. V. Narasimha Rao,P. V. Narasimha Rao,P. V. Narasimha Rao,P. V. Narasimha Rao
12,Atal Bihari Vajpayee,Atal Bihari Vajpayee,Atal Bihari Vajpayee,Atal Bihari Vajpayee
13,H. D. Deve Gowda,H. D. Deve Gowda,H. D. Deve Gowda,H. D. Deve Gowda
14,Inder Kumar Gujral,Inder Kumar Gujral,Inder Kumar Gujral,Inder Kumar Gujral
15,Atal Bihari Vajpayee,Atal Bihari Vajpayee,Atal Bihari Vajpayee,Atal Bihari Vajpayee
16,Manmohan Singh,Manmohan Singh,Manmohan Singh,Manmohan Singh
17,Narendra Modi,Narendra Modi,Narendra Modi,Narendra Modi

# List of 50 Most expensive cars in the world

In [288]:
driver=webdriver.Chrome(r'C:\Users\prks\Downloads\chromedriver.exe')

In [289]:
driver.get('https://www.motor1.com/')

In [290]:
List=driver.find_element(By.XPATH,'/html/body/div[4]/div[1]/div[3]/ul/li[6]/ul/li[1]/a')
List.click()

In [291]:
top=driver.find_element(By.XPATH,'/html/body/div[3]/div[8]/div[1]/div[1]/div/div/div[8]/div/div[1]/h3/a')

In [293]:
top.click()

In [294]:
Car_name=[]
Price=[]

In [295]:
caaa=driver.find_elements(By.XPATH,'//h3[@class="subheader"]')
for i in caaa[0:50]:
    canam=i.text
    Car_name.append(canam)

In [ ]:
pe=driver.find_elements(By.XPATH,'')

In [ ]:
# I am not geting the class name or xpath of price of cars

In [297]:
Car_name=pd.Series(Car_name)

In [298]:
Car_name

0                       De Tomaso P72
1                   Ferrari LaFerrari
2                       Pagani Huayra
3                        McLaren Elva
4                         Czinger 21C
5                       Ferrari Monza
6                  Gordon Murray T.33
7                   Koenigsegg Gemera
8                         Zenvo TSR-S
9                  Hennessey Venom F5
10                    Bentley Bacalar
11      Hispano Suiza Carmen Boulogne
12             Bentley Mulliner Batur
13                       Deus Vayanne
14                        SSC Tuatara
15                        Lotus Evija
16                Aston Martin Vulcan
17                         Delage D12
18                  McLaren Speedtail
19                       Rimac Nevera
20                      Pagani Utopia
21               Pininfarina Battista
22                  Ferrari FXX K Evo
23                 Gordon Murray T.50
24               Lamborghini Countach
25           Mercedes-AMG Project One
26                Aston Martin Victor
27        Hennessey Venom F5 Roadster
28                   Koenigsegg Jesko
29              Aston Martin Valkyrie
30          W Motors Lykan Hypersport
31                      McLaren Solus
32          Pagani Huayra Roadster BC
33           Bugatti Chiron Pur Sport
34                   Lamborghini Sian
35                   Koenigsegg CC850
36    Bugatti Chiron Super Sport 300+
37                 Lamborghini Veneno
38                     Bugatti Bolide
39                    Bugatti Mistral
40                Pagani Huayra Imola
41                       Bugatti Divo
42                SP Automotive Chaos
43                   Pagani Codalunga
44           Mercedes-Maybach Exelero
45                 Bugatti Centodieci
46            Bugatti Chiron Profilée
47               Rolls-Royce Sweptail
48           Bugatti La Voiture Noire
49             Rolls-Royce Boat Tail*
dtype: object